# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=gigachill
DB_USER=postgres
DB_PASSWORD=postgres

# Backend server
SERVER_PORT=8081

# Jwt
JWT_EXPIRATION=1d

# Frontend server
FRONTEND_ORIGIN=*
FRONTEND_PORT=3000