# Компоуз предназначен для локального запуска приложения
# Перед запуском нужно создать файл .env (см. .env.example)

services:
  postgres:
    image: postgres:17-alpine
    container_name: gigachill-db
    restart: always
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks: 
      - gigachill-network

  backend-builder:
    build:
      context: backend
      dockerfile: Dockerfile.builder
      additional_contexts:
        openapi: ./openapi
    image: gigachill-backend-builder
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - KEEP_DATABASE=${KEEP_DATABASE}
    volumes:
      - backend-build:/app/build
    networks: 
      - gigachill-network

  backend:
    image: eclipse-temurin:21-jre-jammy
    command: ["java", "-jar", "/app/build/libs/app.jar"]
    depends_on:
      backend-builder:
        condition: service_completed_successfully
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - SERVER_PORT=8081
      - JWT_EXPIRATION=1d
      - HTTPS_COOKIES_ONLY=false
      - BACKEND_PROFILE=test
      - FRONTEND_ORIGIN=http://localhost:${FRONTEND_HOST_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      #S3
      - MINIO_ENDPOINT=http://minio:9000
      - MINIO_USER=gigachill-backend
      - MINIO_PASSWORD=gigachill-backend
      - BUCKET_INCOMING=incoming
      - BUCKET_RECEIPT=receipt
      - MAX_FILE_SIZE=10485760
      - ALLOWED_CONTENT_TYPES=image/jpeg,image/png
      - ALLOWED_FILE_TYPES=.jpeg,.jpg,.png
      - MAX_LINK_TTL=60
      - MINIO_PUBLIC_ENDPOINT=http://localhost:${MINIO_HOST_PORT}
    ports:
      - "${BACKEND_HOST_PORT}:8081"
    volumes:
      - backend-build:/app/build
      - gigachill-logs:/app/logs
    networks: 
      - gigachill-network

  frontend:
    build:
      context: frontend
      args:
        NEXT_PUBLIC_API_BASE_URL: http://localhost:${BACKEND_HOST_PORT}
        NEXT_PUBLIC_BASE_URL: http://localhost:${FRONTEND_HOST_PORT}
      additional_contexts:
        openapi: ./openapi
    ports:
      - "${FRONTEND_HOST_PORT}:3000"
    environment:
      - PORT=3000
    networks: 
      - gigachill-network
  
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    container_name: gigachill-minio
    restart: unless-stopped
    environment:
      - MINIO_API_CORS_ALLOW_ORIGIN=http://localhost:${FRONTEND_HOST_PORT}
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - minio-data:/data
    ports:
      - "${MINIO_HOST_PORT}:9000"
      - "${MINIO_CONSOLE_HOST_PORT}:9001"
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - gigachill-network
  
  minio-bootstrap:
    image: gigachill-minio-bootstrap
    build:
      context: minio
      dockerfile: Dockerfile
    depends_on:
      minio:
        condition: service_healthy
    environment:
      - MC_HOST_GIGACHILL=http://minioadmin:minioadmin@minio:9000
      - MINIO_ALIAS=GIGACHILL
      - SVC_USER=gigachill-backend
      - SVC_PASSWORD=gigachill-backend
      - BUCKET_INCOMING=incoming
      - BUCKET_RECEIPT=receipt
    networks:
      - gigachill-network

volumes:
  postgres-data:
  minio-data:
  backend-build:
  gigachill-logs:
    name: gigachill-logs
  
networks:
  gigachill-network:
    name: gigachill-network