# Пример .env для локального запуска бэкенда с помощью Docker (см. Dockerfile.runner)

# Database
# На Windows можно использовать host.docker.internal, чтобы достучаться
# до localhost машины хоста контейнера
DB_HOST=host.docker.internal
DB_PORT=5432
DB_NAME=gigachill
DB_USER=postgres
DB_PASSWORD=postgres
KEEP_DATABASE=true

# Backend
SERVER_PORT=8081
BACKEND_PROFILE=test
JWT_EXPIRATION=1d
FRONTEND_ORIGIN=*
HTTPS_COOKIES_ONLY=false

#S3
MINIO_ENDPOINT=127.0.0.1:9000
MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin
BUCKET_INCOMING=incoming
BUCKET_RECEIPT=receipt
MAX_FILE_SIZE=10485760 # 10Мб
ALLOWED_CONTENT_TYPES=image/jpeg,image/png
ALLOWED_FILE_TYPES=.jpeg,.jpg,.png
MAX_LINK_TTL=60 # 1 минута
UPLOAD_URL=https://s3.giga-chill.ru/
