# Файл ограничивает контекст при включении папки openapi в контекст сборки
# с помощью --build-context

# Исключаем все файлы, чтобы не раздувать образ
*

# Кроме необходимых для сборки
!api.yml
!components/**
!build/**