openapi: 3.0.0

info:
  title: GigaChill
  version: 0.1.0

servers:
  - url: https://giga-chill.ru/api
  - url: http://localhost:8081

security:
  - CookieAuth: []

tags:
  - name: Auth
  - name: Events
  - name: Invitation Tokens
  - name: Participants
  - name: Shopping Lists
  - name: Shopping List Items
  - name: Shopping List Receipts
  - name: Tasks
  - name: Debts
  - name: Test Utils
    description: Доступны только в тестовом окружении (BACKEND_PROFILE=test)

paths:
  /auth/login:
    post:
      summary: Аутентификация пользователя
      description: Возвращает JWT токен при успешной аутентификации.
      tags: [Auth]
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "204":
          description: JWT отправлен в Set-Cookie (HttpOnly). Тело пустое.
        "401":
          description: Неверный логин или пароль
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/register:
    post:
      summary: Регистрация нового пользователя
      tags: [Auth]
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "204":
          description: Пользователь создан. JWT-токен отправлен в Set-Cookie (HttpOnly). Тело пустое.
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "409":
          description: Пользователь с таким логином уже существует
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/logout:
    post:
      summary: Выход из системы
      description: Удаляет JWT токен из cookie.
      tags: [Auth]
      operationId: logout
      responses:
        "204":
          description: Пользователь успешно вышел из системы. JWT токен удалён из cookie.
        "401":
          $ref: "#/components/responses/UnauthorizedError"
  /auth/me:
    get:
      summary: Текущий пользователь
      description: Возвращает данные пользователя, идентифицированного по JWT.
      tags: [Auth]
      operationId: getMe
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /events:
    get:
      summary: Список моих мероприятий
      description:
        Возвращает все мероприятия, в которых участвует аутентифицированный
        пользователь, вместе с его ролью в этих мероприятиях.
      tags: [Events]
      operationId: getEvents
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Events"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

    post:
      summary: Создать мероприятие
      description: Автор запроса автоматически становится **owner**.
      tags: [Events]
      operationId: createEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventCreate"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /events/{eventId}:
    get:
      summary: Получить мероприятие
      description:
        Возвращает мероприятие, в котором участвует аутентифицированный
        пользователь, вместе с его ролью в этом мероприятии.
      tags: [Events]
      operationId: getEvent
      parameters:
        - $ref: "#/components/parameters/eventId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    patch:
      summary: Обновить мероприятие
      tags: [Events]
      operationId: updateEvent
      parameters:
        - $ref: "#/components/parameters/eventId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventUpdate"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    delete:
      summary: Удалить мероприятие
      tags: [Events]
      operationId: deleteEvent
      parameters:
        - $ref: "#/components/parameters/eventId"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/invitation-token:
    post:
      summary: Создать новый токен
      description: Токен генерирует пользователь со статусом **owner**.
      tags: [Invitation Tokens]
      operationId: createInvitationToken
      parameters:
        - $ref: "#/components/parameters/eventId"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    get:
      summary: Получение токена
      description: Возвращает заранее сгенерированный токен-приглашение.
        Доступно пользователям с ролью **admin** или **owner**.
        Если токен ещё не был сгенерирован, то в поле **invitation_token** возвращается **null**.
      tags: [Invitation Tokens]
      operationId: getInvitationToken
      parameters:
        - $ref: "#/components/parameters/eventId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationToken"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/join-by-invitation-token:
    post:
      summary: Присоединиться к мероприятию по токену
      description: Пользователь становится участником мероприятия.
      tags: [Invitation Tokens]
      operationId: joinByInvitationToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvitationTokenJoin"
      responses:
        "200":
          description: Идентификатор мероприятия, к которому присоединился пользователь
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventId"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          description: Пользователь уже является участником мероприятия
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/{eventId}/participants:
    get:
      summary: Список участников
      tags: [Participants]
      operationId: getParticipants
      parameters:
        - $ref: "#/components/parameters/eventId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participants"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    post:
      summary: Добавить участника
      description: Добавление по логину. Роль по умолчанию — **participant**.
      tags: [Participants]
      operationId: addParticipant
      parameters:
        - $ref: "#/components/parameters/eventId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParticipantCreate"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          description: Пользователь уже является участником мероприятия
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/{eventId}/participants/{participantId}:
    delete:
      summary: Удалить участника
      tags: [Participants]
      operationId: deleteParticipant
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/participantId"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/participants/{participantId}/role:
    patch:
      summary: Изменить роль участника
      tags: [Participants]
      operationId: setParticipantRole
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/participantId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParticipantSetRole"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/shopping-lists:
    get:
      summary: Получение списков покупок
      description:
        Возвращает все списки покупок, связанные с указанным мероприятием,
        вместе с элементами списков покупок и потребителями.
      tags: [Shopping Lists]
      operationId: getShoppingLists
      parameters:
        - $ref: "#/components/parameters/eventId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShoppingListsWithItems"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    post:
      summary: Добавить список покупок
      tags: [Shopping Lists]
      operationId: createShoppingList
      parameters:
        - $ref: "#/components/parameters/eventId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShoppingListCreate"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/shopping-lists/{shoppingListId}:
    patch:
      summary: Изменить список покупок
      tags: [Shopping Lists]
      operationId: updateShoppingList
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/shoppingListId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShoppingListUpdate"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    delete:
      summary: Удалить список покупок
      tags: [Shopping Lists]
      operationId: deleteShoppingList
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/shoppingListId"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/shopping-lists/{shoppingListId}/budget:
    put:
      summary: Изменить бюджет списка покупок
      tags: [Shopping Lists]
      operationId: setShoppingListBudget
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/shoppingListId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShoppingListSetBudget"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/shopping-lists/{shoppingListId}/consumers:
    put:
      summary: Указать потребителей для списка покупок
      description: |
        Идемпотентное действие - список потребителей полностью заменяется.

        Есть некоторый риск, что один клиент перезапишет другого. 
        Не критично, но стоит иметь в виду. Вариант решения - ETag/If-Match.
      tags: [Shopping Lists]
      operationId: setShoppingListConsumers
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/shoppingListId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UUIDList"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          description: Статус списка покупок не позволяет изменять потребителей
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /events/{eventId}/shopping-lists/{shoppingListId}/shopping-items:
    post:
      summary: Добавить элемент в список покупок
      tags: [Shopping List Items]
      operationId: createShoppingItem
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/shoppingListId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShoppingItemCreate"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/shopping-lists/{shoppingListId}/shopping-items/{shoppingItemId}:
    patch:
      summary: Изменить элемент списка покупок
      tags: [Shopping List Items]
      operationId: updateShoppingItem
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/shoppingListId"
        - $ref: "#/components/parameters/shoppingItemId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShoppingItemUpdate"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    delete:
      summary: Удалить элемент из списка покупок
      tags: [Shopping List Items]
      operationId: deleteShoppingItem
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/shoppingListId"
        - $ref: "#/components/parameters/shoppingItemId"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/shopping-lists/{shoppingListId}/shopping-items/{shoppingItemId}/purchased-state:
    patch:
      summary: Изменить статус элемента списка покупок
      tags: [Shopping List Items]
      operationId: setShoppingItemPurchased
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/shoppingListId"
        - $ref: "#/components/parameters/shoppingItemId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShoppingItemSetPurchased"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/shopping-lists/{shoppingListId}/receipts/upload-policy:
    post:
      summary: Создать и получить policy для загрузки фотографии чека
      description:
        Оригинальное имя файла должно указываться в заголовке Content-Disposition
        при создании Pre-signed POST policy.
      tags: [Shopping List Receipts]
      operationId: createReceiptUploadPolicy
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/shoppingListId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReceiptUploadPolicyCreate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceiptUploadPolicy"
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/shopping-lists/{shoppingListId}/receipts/confirm-upload:
    post:
      summary: Подтвердить загрузку фотографии чека
      tags: [Shopping List Receipts]
      operationId: confirmReceiptUpload
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/shoppingListId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReceiptConfirmRequest"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/shopping-lists/{shoppingListId}/receipts/{receiptId}:
    get:
      summary: Получение фотографии чека
      description:
        Возвращает фотографию чека, связанную с указанным списком покупок.
        Подразумевается, что фотография загружается напрямую из S3 хранилища.
        Для этого бэкенду нужно вернуть редирект - 302 Found. В заголовке Location
        указывается Pre-signed GET – временная ссылка на файл в S3.
      tags: [Shopping List Receipts]
      operationId: getReceiptImage
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/shoppingListId"
        - $ref: "#/components/parameters/receiptId"
      responses:
        "302":
          description: Found - редирект на pre-signed URL для загрузки фотографии чека
          headers:
            Location:
              description: Pre-signed GET URL для доступа к фотографии чека в S3
              schema:
                type: string
                format: uri
                example: "https://s3.giga-chill.ru/receipt/receipts/e0cc1bbd-2292-4f14-8605-8aadf374c390.jpg?AWSAccessKeyId=...&Signature=...&Expires=..."
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    delete:
      summary: Удалить фотографию чека
      tags: [Shopping List Receipts]
      operationId: deleteReceipt
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/shoppingListId"
        - $ref: "#/components/parameters/receiptId"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/tasks:
    get:
      summary: Получить задачи
      tags: [Tasks]
      operationId: getTasks
      parameters:
        - $ref: "#/components/parameters/eventId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tasks"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    post:
      summary: Создать задачу
      tags: [Tasks]
      operationId: createTask
      parameters:
        - $ref: "#/components/parameters/eventId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskCreate"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/tasks/{taskId}:
    get:
      summary: Получить задачу
      tags: [Tasks]
      operationId: getTask
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/taskId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskWithShoppingLists"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    patch:
      summary: Обновить задачу
      tags: [Tasks]
      operationId: updateTask
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/taskId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskUpdate"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    delete:
      summary: Удалить задачу
      tags: [Tasks]
      operationId: deleteTask
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/taskId"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/tasks/{taskId}/executor:
    put:
      summary: Указать исполнителя
      description: Поле executor_id может быть null - это означает,
        что у задачи нет исполнителя. В этом случае задача переходит в статус "открыта".
      tags: [Tasks]
      operationId: setTaskExecutor
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/taskId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskSetExecutor"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/tasks/{taskId}/shopping-lists:
    put:
      summary: Указать списки покупок для задачи
      tags: [Tasks]
      operationId: setTaskShoppingLists
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/taskId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UUIDList"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/InvalidDataError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/tasks/{taskId}/take-in-work:
    post:
      summary: Взять задачу в работу
      description: Если исполнитель не указан, то тот кто взял задачу в работу становится её исполнителем.
      tags: [Tasks]
      operationId: takeTaskInWork
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/taskId"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/tasks/{taskId}/send-for-review:
    post:
      summary: Отправить задачу на проверку
      tags: [Tasks]
      operationId: sendTaskForReview
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/taskId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskSendForReviewRequest"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"

  /events/{eventId}/tasks/{taskId}/review:
    post:
      summary: Подтвердить или отклонить задачу
      tags: [Tasks]
      operationId: reviewTask
      parameters:
        - $ref: "#/components/parameters/eventId"
        - $ref: "#/components/parameters/taskId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskReviewRequest"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"

  /events/{eventId}/finalize:
    post:
      summary: Завершить мероприятие и провести расчёты долгов участников
      tags: [Debts]
      operationId: finalizeEvent
      parameters:
        - $ref: "#/components/parameters/eventId"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/my-balance:
    get:
      summary: Получить баланс пользователя в мероприятии
      tags: [Debts]
      operationId: getMyBalance
      parameters:
        - $ref: "#/components/parameters/eventId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserBalance"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /events/{eventId}/balance-summary:
    get:
      summary: Получить сводку по балансу мероприятия
      tags: [Debts]
      operationId: getBalanceSummary
      parameters:
        - $ref: "#/components/parameters/eventId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventBalanceSummary"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /test-utils/cleanup:
    post:
      tags:
        - Test Utils
      operationId: cleanup
      summary: Очистить базу данных
      description: |
        Полная очистка всех таблиц БД.
      responses:
        "204":
          description: No Content

components:
  responses:
    $ref: "./components/responses.yml"

  parameters:
    $ref: "./components/parameters.yml"

  securitySchemes:
    CookieAuth:
      type: apiKey
      in: cookie
      name: token

  schemas:
    $ref: "./components/schemas.yml"
