spring:
  profiles:
    active: ${BACKEND_PROFILE}
  application:
    name: gigachill
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

server:
  port: ${SERVER_PORT}
  https_cookies_only: ${HTTPS_COOKIES_ONLY}

jwt:
  expiration: ${JWT_EXPIRATION}

frontend:
  origin: ${FRONTEND_ORIGIN}

roles:
  owner: owner
  admin: admin
  participant: participant

shopping-list-status:
  unassigned: unassigned
  assigned: assigned
  in-progress: in_progress
  bought: bought
  partially-bought: partially_bought
  cancelled: cancelled

task-status:
  open: open
  in-progress: in_progress
  under-review: under_review
  completed: completed
