spring:
  profiles:
    active: ${BACKEND_PROFILE}
  application:
    name: gigachill
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

server:
  port: ${SERVER_PORT}
  https_cookies_only: ${HTTPS_COOKIES_ONLY}

minio:
  source: ${MINIO_ENDPOINT}
  username: ${MINIO_USER}
  password: ${MINIO_PASSWORD}
  bucket-incoming: ${BUCKET_INCOMING}
  bucket-receipt: ${BUCKET_RECEIPT}
  max-file-size: ${MAX_FILE_SIZE}
  allowed-content-types: ${ALLOWED_CONTENT_TYPES}
  allowed-file-types: ${ALLOWED_FILE_TYPES}
  max-link-ttl: ${MAX_LINK_TTL}
  upload-url: ${UPLOAD_URL}

jwt:
  expiration: ${JWT_EXPIRATION}

frontend:
  origin: ${FRONTEND_ORIGIN}

roles:
  owner: owner
  admin: admin
  participant: participant

shopping-list-status:
  unassigned: unassigned
  assigned: assigned
  in-progress: in_progress
  bought: bought
  partially-bought: partially_bought
  cancelled: cancelled

task-status:
  open: open
  in-progress: in_progress
  under-review: under_review
  completed: completed
